:root {
  /* style variables */

  /* base colors */

  --clr-violet: hsl(263, 55%, 52%);
  --clr-quote: hsl(264%, 82%, 70%);
  --clr-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  /* neutral colors */
  --clr-med-gray: hsl(0, 0%, 81%);
  --clr-light-gray: hsl(210, 46%, 95%);

  --clr-stroke: hsl(0, 0, 59);

  /* drop shadow */

  --clr-bs: rgba(72, 85, 106, 0.2474);

  /* font size */

  --fs-main: 0.8125rem; /* 13px */
  --fs-desc: 1.25rem; /* 20px */

  /* font family */
  --ff-main: "Barlow Semi Condensed", sans-serif;

  /* img size */
  --img-width: 28px;
  --img-height: 28px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* utility */

body {
  padding: 10.25rem;
  background-color: #ecf2f8;
  font-family: var(--ff-main);
}

*:not(.card__para--bold) {
  font-size: var(--fs-main);
}

.grid--layout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 30px;
}

.span-2-cols {
  grid-column: span 2;
}

.span-2-rows {
  grid-row: span 2;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.card--lt-text * {
  color: var(--clr-white);
}

.card__wrapper {
  padding-inline: 2rem;
  border-radius: 8px;
  box-shadow: 40px 50px 60px -47px var(--clr-bs);
  border: 0.5px solid var(--clr-stroke);

  padding: 1.625rem 2rem 2rem 2rem;
}

.card__para--bold {
  font-size: var(--fs-desc);
  line-height: 24px;
  font-weight: 600;
  padding-bottom: 24px;
}

.card--white {
  background-color: var(--clr-white);
}

.card--violet {
  background-color: var(--clr-violet);
  position: relative;
  z-index: 1;
}

.card--greyish-blue {
  background-color: var(--clr-grayish-blue);
}

.card--dark-blue {
  background-color: var(--clr-dark-blue);
}

/* Cards */

.card__main {
  margin: 0 auto;
  width: 69.375rem;
  height: 35.75rems;
}
.card__name {
  display: flex;
  gap: 17px;
  padding-bottom: 18px;
}
.card__img {
  width: var(--img-width);
  height: var(--img-height);
  border-radius: 50%;
}

.card__subheader {
  line-height: 13px;
}

.card__span {
  line-height: 11px;
  opacity: 50%;
}

.card__para--light {
  line-height: 18px;
  opacity: 70%;
}

.card--violet::after {
  content: url("/images/bg-pattern-quotation.svg");
  position: absolute;
  width: 104px;
  height: 102px;
  top: 0;
  right: 10%;
  z-index: -1;
}
