:root {
  /* style variables */

  /* base colors */

  --clr-violet: hsl(263, 55%, 52%);
  --clr-grayish-blue: hsl(217, 19%, 35%);
  --clr-dark-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  /* neutral colors */
  --clr-med-gray: hsl(0, 0%, 81%);
  --clr-light-gray: hsl(210, 46%, 95%);

  --clr-stroke: hsl(0, 0, 59);

  /* drop shadow */

  --clr-bs: rgba(72, 85, 106, 0.2474);

  /* font size */

  --fs-main: 0.8125rem; /* 13px */
  --fs-desc: 1.25rem; /* 20px */

  /* font family */
  --ff-main: "Barlow Semi Condensed", sans-serif;

  /* img size */
  --img-width: 28px;
  --img-height: 28px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* utility */

body {
  padding: 10.25rem;
}

*:not(.card__para--bold) {
  font-size: var(--fs-main);
}

.grid--layout {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 24px;
  column-gap: 30px;
}

.span-2-cols {
  grid-column: span 2;
}

.span-2-rows {
  grid-row: span 2;
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card__wrapper {
  padding-inline: 2rem;
  border-radius: 8px;
  box-shadow: 40px 50px 60px -47px var(--clr-bs);
  border: 0.5px solid var(--clr-stroke);

  padding: 26px 32px 32px 32px;
}

.card__para--bold {
  font-size: var(--fs-desc);
  font-weight: 600;
}

.card--strong {
}

.card--white {
  background-color: var(--clr-white);
}

.card--violet {
  background-color: var(--clr-violet);
}

.card--greyish-blue {
  background-color: var(--clr-grayish-blue);
}

.card--dark-blue {
  background-color: var(--clr-dark-blue);
}

.card__name {
  display: flex;
}

/* Cards */
